@charset "utf-8";
/* CSS Document */
/* 清除内外边距 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
lengend,
button,
input,
textarea,
th,
td {
  /* table elements 表格元素 */
  margin: 0;
  padding: 0;
}
/* 设置默认字体 */
body,
button,
input,
select,
textarea {
  /* for ie */
  font: 12px/1 "微软雅黑", Arial, Tahoma, Helvetica, "\5b8b\4f53", sans-serif;
  /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}
body {
  position: relative;
}
address,
cite,
dfn,
em,
var,
i {
  font-style: normal;
}
/* 将斜体扶正 */
/* 重置列表元素 */
ul,
ol {
  list-style: none;
}
/* 重置文本格式元素 */
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  transition: all 0.5s ease 0s;
  color: #0B7DF2;
}
/* 去除a标签点击后的虚线框 */
a:focus {
  outline: none;
  text-decoration: none;
  -moz-outline: none;
}
/* 重置表单元素 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 使得表单元素在 ie 下能继承字体大小 */
}
input {
  outline: none;
}
/* 重置表格元素 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* 重置 hr */
hr {
  border: none;
  height: 1px;
}
/*设置textarea固定大小*/
textarea {
  resize: none;
}
img {
  vertical-align: middle;
}
* {
  box-sizing: border-box;
}
.xb-show {
  display: block;
}
.xb-hide {
  display: none;
}
.xb-hidden {
  display: none;
}
.xb-out {
  display: table;
  width: 100%;
}
.xb-inside {
  margin: 0 auto;
  width: 1100px;
  display: table;
}
.xb-middle-out {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}
.xb-middle-inside {
  display: table-cell;
  vertical-align: middle;
}
.xb-h-5 {
  width: 100%;
  height: 5px;
}
.xb-h-10 {
  width: 100%;
  height: 10px;
}
.xb-h-15 {
  width: 100%;
  height: 15px;
}
.xb-h-20 {
  width: 100%;
  height: 20px;
}
.xb-h-25 {
  width: 100%;
  height: 25px;
}
.xb-h-30 {
  width: 100%;
  height: 30px;
}
.xb-h-35 {
  width: 100%;
  height: 35px;
}
.xb-h-40 {
  width: 100%;
  height: 40px;
}
.xb-h-45 {
  width: 100%;
  height: 45px;
}
.xb-h-50 {
  width: 100%;
  height: 50px;
}
.xb-h-55 {
  width: 100%;
  height: 55px;
}
.xb-h-60 {
  width: 100%;
  height: 60px;
}
.xb-h-65 {
  width: 100%;
  height: 65px;
}
.xb-h-70 {
  width: 100%;
  height: 70px;
}
.xb-h-100 {
  width: 100%;
  height: 100px;
}
.bjy-admin-nav {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}
.bjy-public-jump {
  margin: 0 auto;
  padding: 50px 100px;
  width: 455px;
  height: 195px;
  border: 2px solid #00CCC0;
  border-radius: 4px;
  text-align: center;
}
.bjy-public-jump .bjy-pj-word {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
}
.bjy-public-jump .bjy-pj-word b {
  color: #00CCC0;
}
